{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>
    <p class="about_us_text">On mid January, Liturgi Generator website begins with a small, yet really challenging idea (at least for the developer).
        This website was made specially for KR GKI Citra 1 with the purpose of making the process of creating Liturgi easier and faster.
        It is hoped that this website is going to be useful in anyway possible.
    </p>
    <h3>Sources used for this website:</h3>
    <ul>
        <li>Song book: <a href="https://alkitab.app/">https://alkitab.app/</a></li>
        <li>Bible verse: <a href="https://github.com/erwindosianipar/beeble">https://github.com/erwindosianipar/beeble</a></li>
{% endblock %}